@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/FiraCode-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/FiraCode-SemiBold.woff2') format('woff2');
}

:root {
  --light-page-color: #fdf6e3;
  --light-text-color: #586e75;

  --exp-bg-color: #d7e95d;
  --exp-shadow-color: #859900;

  --pat-bg-color: #9fd7fe;
  --pat-shadow-color: #268bd2;

  --typ-bg-color: #caccf4;
  --typ-shadow-color: #6c71c4;

  --tile-decoration-z: 0;
  --code-text-z: 1;
}

#page {
  font-family: "Fira Code", monospace;
  font-size: 16pt;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: var(--light-page-color);
  color: var(--light-text-color);
}

#caret {
  position: absolute;
  border-left: 1.5px solid var(--light-text-color);
  height: 60vh;
}

#action-table {
  position: relative;
}

#code-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
}
#code-container:focus {
  outline: none;
}

#font-specimen {
  position: fixed;
  top: 0;
  left: 100%;
}

.code-text {
  position: relative;
  z-index: var(--code-text-z);
}

.term {
  position: relative;
}

.tile {
  position: relative;
}
.decoration-container {
  position: absolute;
}
.tile-decoration-container {
  z-index: var(--tile-decoration-z);
}
.tile-decoration {
  filter: url(#outer-drop-shadow);
  stroke-width: 0.2;
  fill-rule: evenodd;
}
.Exp.tile-decoration {
  fill: var(--exp-bg-color);
  stroke: var(--exp-shadow-color);
}
.Exp.tile-decoration-drop-shadow {
  flood-color: var(--exp-shadow-color);
}
.Pat.tile-decoration {
  fill: var(--pat-bg-color);
  stroke: var(--pat-shadow-color);
}
.Pat.tile-decoration-drop-shadow {
  flood-color: var(--pat-shadow-color);
}
.Typ.tile-decoration {
  fill: var(--typ-bg-color);
  stroke: var(--typ-shadow-color);
}
.Typ.tile-decoration-drop-shadow {
  flood-color: var(--typ-shadow-color);
}