@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/FiraCode-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/FiraCode-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/karla/v14/qkBIXvYC6trAT55ZBi1ueQVIjQTD-JqaE0lK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --light-page-color: #fdf6e3;
  --light-text-color: #586e75;

  --unselected-tessera-color: #fff1f7;
  --selection-color: #e7e1cd; /*#eee8d5;*/ /*#ffe4f1;*/
  --selection-shadow-color: rosybrown;

  --hole-stroke-color: #dc322f;
  --empty-hole-fill-color: #ffef00;

  --exp-bg-color: #dbf6de; /*#ddff9f;*/
  --exp-shadow-color: #329f43; /* #709900; */
  --exp-rail-color: #a7d3ad; /*#c4e1c8;*/

  --pat-bg-color: #c4e6ff;
  --pat-shadow-color: #268bd2;
  --pat-rail-color: #a1c4dd; /*#cadce9;*/

  --typ-bg-color: #caccf4;
  --typ-shadow-color: #6168d4; /* #6c71c4; */

  --unsorted-bg-color: #ffd0e6;
  --unsorted-shadow-color: #c76695;
  --unsorted-rail-color: #e7bdd0; /*#f4dbe7;*/

  --bar-color: #dfdacc;

  --action-text-color: rgb(82, 82, 82);
  --action-key-color: whitesmoke;

  --selection-box-z: 1;
  --genie-z: 1;
  --empty-hole-z: 2;
  --err-hole-z: 2;
  --uni-child-z: 3;
  --tile-z: 3;
  --inset-empty-hole-z: 4;
  --code-text-z: 5;
  --placeholder-z: 6;
  --target-bounds-z: 7;
  --flag-z: 8;
  --bar-z: 0;
  --inner-cousin-z: 9;
  --outer-cousin-caret-position-z: 9;
  --rail-z: 11;
  --selection-bar-z: 12;
  --caret-position-z: 13;
  --anchor-z: 14;
  --caret-z: 14;
  --action-table-z: 15;
  --caret-bar-z: 16;
}

#page {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: var(--light-page-color);
  color: var(--light-text-color);
}

#logo {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
}
#logo-text {
  position: relative;
  vertical-align: middle;
  z-index: var(--code-text-z);
  /* deviate from font-specimen as hack to vertically center */
  line-height: 1.7;
}

#font-specimen, #logo-font-specimen, #type-font-specimen {
  position: fixed;
  top: 0;
  left: 100%;
  line-height: 1.45;
  vertical-align: middle;
}

#type-font-specimen, #type-info .code {
  font-family: "Source Code Pro", monospace;
  font-size: 10pt;
  background-color: none;
  box-shadow: none;
}
#logo-font-specimen, #logo {
  font-family: "Fira Code", monospace;
  font-weight: bold;
  font-size: 16pt;
}
#font-specimen, #code-container {
  font-family: "Source Code Pro", monospace;
  font-size: 14pt;
}

#code-container {
  position: fixed;
  top: 40%;
  left: 0%;
  width: 100vw;
}
#code-container:focus {
  outline: none;
}

#spotlight {
  position: absolute;
}
.spotlight-outline {
  vector-effect: non-scaling-stroke;
  stroke: var(--selection-color);
  stroke-width: 0;
  fill: var(--selection-color);
}

#bar {
  z-index: var(--bar-z);
  position: absolute;
  left: 0;
  width: 100%;
}
#bar svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#bar rect {
  fill: var(--bar-color);/*#586e752e;*/
  /*filter: blur(1px);*/
}

svg.rail line {
  vector-effect: non-scaling-stroke;
  stroke-width: 2px;
}
svg.rail line.Exp {
  stroke: var(--exp-rail-color);
}
svg.rail line.Pat {
  stroke: var(--pat-rail-color);
}
svg.rail line.unsorted {
  stroke: var(--unsorted-rail-color);
}

#rail-gradient stop.Exp {
  stop-color: var(--exp-rail-color);
}
#rail-gradient stop.Pat {
  stop-color: var(--pat-rail-color);
}

#target-bounds {
  position: absolute;
  z-index: var(--target-bounds-z);
}
#target-bounds stop.Exp {
  stop-color: var(--exp-rail-color);
}
#target-bounds stop.Pat {
  stop-color: var(--pat-rail-color);
}
#target-bounds stop.unsorted {
  stop-color: var(--unsorted-rail-color);
}

.selected-bar-container {
  z-index: var(--selection-bar-z);
}

.selected-bar-container line.same-sort {
  vector-effect: non-scaling-stroke;
  stroke-width: 2px;
}
.selected-bar-container path.different-sort {
  vector-effect: non-scaling-stroke;
  stroke-width: 2px;
  fill: none;
}

.selected-bar-container line.same-sort.Exp,
.selected-bar-container path.different-sort.Exp {
  stroke: var(--exp-shadow-color);
}
.selected-bar-container line.same-sort.Pat,
.selected-bar-container path.different-sort.Pat {
  stroke: var(--pat-shadow-color);
}

.code {
  position: relative;
  line-height: 1.4;
}
.code#under-the-rail {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
}

.code-text {
  position: relative;
  z-index: var(--code-text-z);
  vertical-align: middle;
}
.code-text.transparent {
  opacity: 50%;
}

.term {
  position: relative;
}

.empty-hole-path {
  fill: none;
}
.empty-hole-path.unsorted {
  stroke: var(--unsorted-shadow-color);
}
.empty-hole-path.Exp {
  stroke: var(--exp-shadow-color);
}
.empty-hole-path.Pat {
  stroke: var(--pat-shadow-color);
}
.empty-hole-path.Typ {
  stroke: var(--typ-shadow-color);
}

.empty-hole-inset-shadow-flood.unsorted {
  flood-color: var(--unsorted-shadow-color);
}
.empty-hole-inset-shadow-flood.Exp {
  flood-color: var(--exp-shadow-color);
}
.empty-hole-inset-shadow-flood.Pat {
  flood-color: var(--pat-shadow-color);
}
.empty-hole-inset-shadow-flood.Typ {
  flood-color: var(--typ-shadow-color);
}

.paren {
  position: relative;
  top: -1px;
}

.decorated-tile,
.decorated-uni-child,
.decorated-term {
  position: relative;
}

.zipped {
  position: relative;
}

.selection-container {
  position: relative;
}
.selection {
  position: relative;
}
.selection-box {
  position: absolute;
  z-index: var(--selection-box-z);
  box-sizing: border-box;
  background-color: var(--selection-color);
  position: absolute;
  height: 100%;
  width: 100%;
  filter: blur(1px);
  border-radius: 3px;
}
.selection-box.unfocused {
  opacity: 50%;
}
.selection-box.moving {
  box-shadow: 0.5px 0.5px 2px var(--selection-shadow-color);
}
.restructuring {
  position: relative;
}
.flag {
  position: absolute;
  z-index: var(--flag-z);
}
.placeholder {
  position: absolute;
}
.placeholder-mask {
  position: absolute;
  z-index: var(--placeholder-z);
  background-color: lightgray;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 2px darkgray;
  border-radius: 4px;
}

.decoration-container {
  position: absolute;
}
.decoration-container.transparent {
  opacity: 50%;
}
.empty-hole-container {
  z-index: var(--empty-hole-z);
}
.err-hole-container {
  z-index: var(--err-hole-z);
}
.tile-container, .tessera-container {
  z-index: var(--tile-z);
}
.uni-child-container {
  z-index: var(--uni-child-z);
}
.inset-empty-hole-container {
  z-index: var(--inset-empty-hole-z);
}
.anchor-container {
  z-index: var(--anchor-z);
}
.sibling-container {
  z-index: var(--caret-position-z);
}
.inner-cousin-container {
  z-index: var(--inner-cousin-z);
}
.outer-cousin-container {
  z-index: var(--outer-cousin-caret-position-z);
}
.rail-container {
  z-index: var(--rail-z);
}
.restructuring-genie-container {
  z-index: var(--genie-z);
}

.restructuring-genie-path {
  stroke-width: 0;
  fill: var(--selection-color);
  filter: url(#restructuring-genie-filter);
  vector-effect: non-scaling-stroke;
}

.err-hole-path {
  fill: none;
  stroke-dasharray: 2 1;
  stroke: var(--hole-stroke-color);
  stroke-width: 0.75;
}

.uni-child-path {
  stroke-width: 0.5;
  fill: none;
  /*filter: url(#outer-drop-shadow);*/
  /*filter: url(#uni-child-gradient);*/
  /*stroke: url(#uni-child-gradient);*/
}
.bidelimited-open-child-path {
  stroke-width: 0.4;
}
/*
.uni-child-path.Exp {
  stroke: var(--exp-shadow-color);
}
.uni-child-path.Pat {
  stroke: var(--pat-shadow-color);
}
.uni-child-path.Typ {
  stroke: var(--typ-shadow-color);
}
*/

.tile-container.Revealed {
  opacity: 0.6;
}


.tile-path, .tessera-path {
  stroke-width: 0.4;
  fill-rule: evenodd;
}

.tile-path.filtered {
  fill: var(--selection-color);
}

.tessera-path {
  /*stroke-width: 0.3; */
  filter: url(#drop-shadow-tessera);
  fill: var(--unselected-tessera-color);
  stroke: var(--unsorted-shadow-color);
}
.tessera-path.highlighted {
  fill: var(--unsorted-bg-color);
}

.tile-path {
  fill: var(--light-page-color);
}
.tile-path.raised, .tessera-path.raised {
  stroke-width: 0.4;
}
.tile-path.selected {
  fill: var(--selection-color);
}

.tile-path.unsorted {
  stroke: var(--unsorted-shadow-color);
  filter: url(#drop-shadow-unsorted);
}
.tile-path.unsorted.highlighted {
  fill: var(--unsorted-bg-color);
}
.tile-path.unsorted.raised {
  filter: url(#raised-drop-shadow-unsorted);
}
.tessera-path.raised {
  filter: url(#raised-drop-shadow-tessera);
}
#drop-shadow-unsorted .tile-drop-shadow,
#raised-drop-shadow-unsorted .tile-drop-shadow {
  flood-color: var(--unsorted-shadow-color);
}

.tile-path.Exp {
  stroke: var(--exp-shadow-color);
  filter: url(#drop-shadow-Exp);
}
.tile-path.Exp.highlighted {
  fill: var(--exp-bg-color);
}
.tile-path.Exp.raised {
  filter: url(#raised-drop-shadow-Exp);
}
#drop-shadow-Exp .tile-drop-shadow,
#raised-drop-shadow-Exp .tile-drop-shadow {
  flood-color: var(--exp-shadow-color);
}

.tile-path.Pat {
  stroke: var(--pat-shadow-color);
  filter: url(#drop-shadow-Pat);
}
.tile-path.Pat.highlighted {
  fill: var(--pat-bg-color);
}
.tile-path.Pat.raised {
  filter: url(#raised-drop-shadow-Pat);
}
#drop-shadow-Pat .tile-drop-shadow,
#raised-drop-shadow-Pat .tile-drop-shadow {
  flood-color: var(--pat-shadow-color);
}

.tile-path.Typ {
  stroke: var(--typ-shadow-color);
  filter: url(#drop-shadow-Typ);
}
.tile-path.Typ.highlighted {
  fill: var(--typ-bg-color);
}
.tile-path.Typ.raised {
  filter: url(#raised-drop-shadow-Typ);
}
#drop-shadow-Typ .tile-drop-shadow,
#raised-drop-shadow-Typ .tile-drop-shadow {
  flood-color: var(--typ-shadow-color);
}

.caret-position-path {
  vector-effect: non-scaling-stroke;
  stroke-width: 0.1px;
}

.caret-position-path.outer-cousin {
  stroke: var(--bar-color);
  fill: var(--bar-color);
  /* stroke: #586e752e;
  fill: #586e752e; */
  /* stroke: var(--exp-rail-color);
  fill: var(--exp-rail-color); */
}

.caret-position-path.Exp.sibling {
  stroke: var(--exp-rail-color);
  fill: var(--exp-rail-color);
}

.caret-position-path.Exp.inner-cousin {
  /* stroke: var(--bar-color);
  fill: var(--bar-color); */
  stroke: var(--exp-rail-color);
  fill: var(--exp-rail-color);
}

.caret-position-path.Pat.sibling,
.caret-position-path.Pat.inner-cousin {
  stroke: var(--pat-rail-color);
  fill: var(--pat-rail-color);
}

.caret-position-path.Exp.anchor {
  stroke: var(--exp-shadow-color);
  fill: var(--exp-shadow-color);
}
.caret-position-path.Pat.anchor {
  stroke: var(--pat-shadow-color);
  fill: var(--pat-shadow-color);
}
.caret-position-path.Typ.anchor {
  stroke: var(--typ-shadow-color);
  fill: var(--typ-shadow-color);
}
.caret-position-path.unsorted {
  stroke: var(--unsorted-shadow-color);
  fill: var(--unsorted-shadow-color);
}

#caret {
  position: absolute;
  height: 80vh;
  z-index: var(--caret-z);
}
#caret-bar {
  --color: var(--light-text-color);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -1px;
  border-left: 2px solid var(--color);
  z-index: var(--caret-bar-z);
}
#caret-bar.Exp {
  --color: var(--exp-shadow-color);
}
#caret-bar.Pat {
  --color: var(--pat-shadow-color);
}

#backpack-pre, #backpack-suf {
  position: absolute;
  display: grid;
  grid-auto-flow: row;
}

#type-info {
  position: absolute;
  top: 0;
  left: 0;
  font: 10pt "Helvetica Neue";
  border-radius: 4px;
}
.sort-label {
  border-radius: 2px;
  padding: 0 2px;
  font-weight: bold;
}
.sort-label.typ {
  background-color: var(--typ-bg-color);
}
.sort-label.pat {
  background-color: var(--pat-bg-color);
}
.sort-label.exp {
  background-color: var(--exp-bg-color);
}

.type-info-msg {
  display: grid;
  grid-template-columns: 180px auto;
  grid-template-rows: auto auto auto;
  column-gap: 16px;
  position: relative;
  left: -188px;
  grid-auto-flow: row;
}

.type-info-msg .type-info-label {
  justify-self: right;
  align-self: center;
  background-color: var(--light-page-color);
  box-shadow: 0 0 4px 2px var(--light-page-color);
}

.type-info-msg .inconsistent {
  border-bottom: 1px dashed var(--hole-stroke-color);
}

.type-info-msg .code {
  justify-self: left;
  margin-left: -6px;
}

#action-table {
  position: relative;
  left: -128px;
  font: 10pt "Helvetica Neue";
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: repeat(3, auto 20px) auto 4px repeat(5, auto 2px) auto 20px auto 4px auto;
  column-gap: 16px;
  color: var(--action-text-color);
  z-index: var(--action-table-z);
}

#action-table .keys-container {
  justify-self: right;
  align-self: center;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto;
  grid-auto-columns: min-content;
  justify-items: right;
  justify-content: right;
  grid-auto-flow: column;
}
#action-table .keys {
  box-shadow: 0 0 8px -2px var(--light-page-color);
  border-radius: 3px;
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-flow: column;
}
#action-table .key {
  background-color: var(--action-text-color);
  color: var(--action-key-color);
  border-radius: 3px;
  padding: 1.5px 3px;
  margin: 0 2px;
  min-width: 12px;
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: Karla;
}

#action-table .action-type {
  font-weight: bold;
  justify-self: left;
  align-self: center;
}

#action-table .construct-shape {
  justify-self: left;
}

.emph {
  color: rgb(210, 82, 82);
  font-weight: bold;
}
