@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/FiraCode-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: bold;
  src: url('fonts/FiraCode-SemiBold.woff2') format('woff2');
}

:root {
  --light-page-color: #fdf6e3;
  --light-text-color: #586e75;

  --hole-stroke-color: #dc322f;
  --empty-hole-fill-color: #ffef00;

  --exp-bg-color: #d7e95d;
  --exp-shadow-color: #859900;

  --pat-bg-color: #9fd7fe;
  --pat-shadow-color: #268bd2;

  --typ-bg-color: #caccf4;
  --typ-shadow-color: #6c71c4;

  --open-child-z: 0;
  --empty-hole-z: 1;
  --err-hole-z: 1;
  --tile-z: 2;
  --inset-empty-hole-z: 3;
  --code-text-z: 4;
}

#page {
  font-family: "Fira Code", monospace;
  font-size: 16pt;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: var(--light-page-color);
  color: var(--light-text-color);
}

#caret {
  position: absolute;
  border-left: 1.5px solid var(--light-text-color);
  height: 60vh;
}

#action-table {
  position: relative;
}

#code-container {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 0%);
}
#code-container:focus {
  outline: none;
}

#font-specimen {
  position: fixed;
  top: 0;
  left: 100%;
}

.code-text {
  position: relative;
  z-index: var(--code-text-z);
}

.term {
  position: relative;
}

.empty-hole-path {
  fill: var(--empty-hole-fill-color);
  stroke: var(--hole-stroke-color);
}
.empty-hole-inset-shadow-flood {
  flood-color: var(--hole-stroke-color);
}

#code {
  position: relative;
}

.decorated-tile,
.decorated-open-child,
.decorated-term {
  position: relative;
}

.zipped {
  position: relative;
}

.selection {
  filter: hue-rotate(90deg);
}

.decoration-container {
  position: absolute;
}
.empty-hole-container {
  z-index: var(--empty-hole-z);
}
.err-hole-container {
  z-index: var(--err-hole-z);
}
.tile-container {
  z-index: var(--tile-z);
}
.open-child-container {
  z-index: var(--open-child-z);
}
.inset-empty-hole-container {
  z-index: var(--inset-empty-hole-z);
}

.open-child-path {
  stroke-width: 0.3;
  fill: var(--light-page-color);
  filter: url(#outer-drop-shadow);
}
.open-child-path.Exp {
  stroke: var(--exp-shadow-color);
}
.open-child-path.Pat {
  stroke: var(--pat-shadow-color);
}
.open-child-path.Typ {
  stroke: var(--typ-shadow-color);
}

.tile-path {
  filter: url(#outer-drop-shadow);
  stroke-width: 0.2;
  fill-rule: evenodd;
}
.Exp.tile-path {
  fill: var(--exp-bg-color);
  stroke: var(--exp-shadow-color);
}
.Exp.tile-drop-shadow {
  flood-color: var(--exp-shadow-color);
}
.Pat.tile-path {
  fill: var(--pat-bg-color);
  stroke: var(--pat-shadow-color);
}
.Pat.tile-drop-shadow {
  flood-color: var(--pat-shadow-color);
}
.Typ.tile-path {
  fill: var(--typ-bg-color);
  stroke: var(--typ-shadow-color);
}
.Typ.tile-drop-shadow {
  flood-color: var(--typ-shadow-color);
}